.g-page{
  flex-direction: column;
}
.m-home-swiper{
  height: 320px; width: 100%;
  image{ width: 100%; height: 100%; vertical-align: middle;}
}
.m-news-item{
  display: flex; padding: 10px 0;
  .photo{
    width: 200px; height: 200px;
    image{ width: 100%; height: 100%;}
  }
  .info{
    flex: 1;
    .desc{ display: flex;}
    .pv{ flex: 1;}
  }
}
